@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --borderColor: #a1a1a1;
    --featureColor: 217, 217, 217, 0.1;
}

.dark {
    --background: 0, 0, 0;
    --textColor: 255, 255, 255;

    background: rgba(var(--background));
}

.light {
    --background: 255 255 255;
    --textColor: 0, 0, 0;
}

@font-face {
    font-family: poppins;
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
}

.bento-card-a {
    height: 27rem;
}

.bento-card-b-w {
    height: 18rem;
}

.bento-card-b-s {
    height: 18rem;
}
